<a class="save-html" target="_blank" download="nineteen.zip">
  <strong>Download HTML file</strong><br>
  <span class="description">Save an interactive version of this view</span>
</a>

<a class="save-png" target="_blank" download="nineteen-snapshot.png">
  <strong>Download PNG image</strong><br>
  <span class="description">Save a static image of this view</span>
</a>
