.btn {
  appearance: none;
  background: $lightgray;
  border: none;
  border-radius: 2px;
  color: $trout;
  outline: none;
  margin: 0;
  padding: 8px 12px 6px;

  &.btn-primary {
    background-color: $trout;
    color: $white;
  }

  &:hover {
    opacity: 0.8;
  }
}
