<!--header>
  <button class="toggle">Toggle</button>
  <button id="color-column" name="color-column">{{ key }}</button>
</header-->

<button id="legend-toggle" class="legend-visible">Toggle legend</button>
<ul class="legend-items"></ul>
