<span class="swatch" style="background-color: {{ background-color }}; border-color: {{ border-color }};"></span>
<span class="label">{{label}}</span>
{{#if showCounts}}
  <span class="count">{{count}}</span>
{{/if}}
