<header id="title-bar" role="banner">
  <div class="title-left">
    <small class="text-muted">{{ filename }} &mdash; {{ details }}</small>
    <ul class="keys">
      <li class="viewer-key">Grouped by <a>{{ groupKey }}</a></li>
      <li class="legend-key">color-coded by <a>{{ colorKey }}</a></li>
    </ul>
  </div>

  <div class="title-right">
    <a href="/" id="brand">nineteen</a>
    <button id="save">Save</button>
  </div>
</header>

<figure id="visualization">
  <div id="legend"></div>
  <div id="viewer"></div>
</figure>

<div id="dropdowns"></div>
